<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DomainUrl" value="https://groep.felix.be" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Eerst api key beveiliging aanpassen-->
    <!--<add key="GoogleMapsApiKey" value="AIzaSyDXfRVM_GnTmYVZHDXCgM2NnqWflEhXq58" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
  </appSettings>
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp>
        <network
          host="felix-be.mail.protection.outlook.com"
          port="25"
          enableSsl="true"
        />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/.well-known/acme-challenge" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>