<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DomainUrl" value="https://dev-bens-shy-deer.s1.umbraco.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="\mail\" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>