.our_services {
    padding-top: 80px;
}

.our_services h4 {
	font-size:25px; 
    text-transform:capitalize;
}
.our_services h1 span {
    font-style: italic;
    color: #cf0227; 
}

.our_services p {
    font-size:14px;
}

#who-we-are {
    border-bottom: 5px solid #cf0227;
}

.services i {
    float: left;
    height: 100%;
    line-height: 1;
    vertical-align: top;
    font-size: 30px;
    margin-right: 20px;
    color: #000;
}

h1.no-background 
{
	background:none; 
	padding-left:0px;
}

h1.no-border 
{
	border:none; 
}

.box-bottom {
    margin-bottom:30px !important;
}

@media screen and (max-width: 991px) {
    .our_services img {
        display: none;
    }
    .our_services .middle {
        display: none;
    }
    .our_services .row .col-md-4:last-child {
        margin-left: 16.66666667%;
    }
}

@media screen and (max-width: 768px) {
    .our_services h1.no-background {
        display: none;
    }
    .our_services .row .col-md-4:last-child {
        margin-left: 0;
    }
    .our_services .row .col-md-4:last-child .section-title {
        display: none;
    }
}