@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Joboffers>
@{
    var stories = Umbraco.AssignedContentItem.Children().OfType<Stories>().FirstOrDefault().Children().OfType<Story>();
}
<section id="jobarticles" class="margin-top-40 margin-bottom-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 margin-top-40 margin-bottom-40">
                <div class="section-title">
                    <h1>@Model.Content.StoryTitle</h1>
                    <p>@Model.Content.StoryText</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <style>
            .col-sm-6 > p {
                height: 100%;
            }
        </style>
        <div class="row">
            @foreach (var story in stories)
            {
                <div class=" col-lg-6 col-md-12 col-sm-12 wow animated fadeInUp margin-bottom-30" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    @Html.Partial("JobSite/Stories/Item", story)
                </div>
            }
        </div>
    </div>
</section>