.language-item {
    display: block;
}

.language-item > label {
    min-width: 150px;
}
.language-item > label, .language-item > input:first-child {
    margin-top: 7px;
}
.language-item > select {
    height: auto !important;
}
.language-item > input:first-child {
    margin-top: 9px;
    margin-right: 5px;
}