<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="4581b8ab-ea0e-477b-8c08-475c769218c1" name="Bens Shy Deer" alias="bens-shy-deer" type="Starter" color="" url="https://www.s1.umbraco.io/project/bens-shy-deer" trialExpireDate="2019-01-23T07:56:13">
  <environment type="development" name="Development" id="eebeb6a3-8991-48f0-92d5-97e4205e6c51">https://dev-bens-shy-deer.s1.umbraco.io</environment>
  <environment type="live" name="Live" id="8db63c7e-84bd-411f-9af7-600aa7db210a">https://bens-shy-deer.s1.umbraco.io</environment>
</environments>